
<div>
  <!-- one way data bunding -->
  <p>Project Name: <span class="text-primary"> {{projectName}}</span> 
    <br>

    Merhabalar <span class="text-primary">{{name}} - {{surname}}</span> </p>
<hr>
</div>

<!-- Component Selector -->

<!-- Start Header -->
<app-onepage-header></app-onepage-header>
<!-- End Header -->

<!-- Start Main -->
<app-onepage-main></app-onepage-main>
<!-- End Main -->

<!-- Start Footer -->
<app-onepage-footer></app-onepage-footer>
<!-- End Footer -->

<!-- Router -->
<router-outlet></router-outlet>
